

.aboutme p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(146,162,182,255);
    font-size: 19px;
    line-height: 1.7;                /* Improved readability */
    padding-right: 30px;
}

.aboutme h3 {
    display: none;
}
.aboutmelinks {
   color: rgba(226,232,240,255);
   font-size: 20px;

}

.aboutmelinks:hover {
    color: rgb(9, 211, 211);    
}

@media (max-width: 1250px) {
    .aboutme {
        padding-left: 2.5vw;

}
    .aboutme h3 {
        display: block;
    }
}